@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.light {
    background-image: linear-gradient(330deg, hsl(272, 53%, 50%) 0%, hsl(226, 68%, 56%) 100%);
}
.dark {
    background-image: linear-gradient(330deg, hsl(220, 39%, 11%) 0%, hsl(220, 39%, 11%) 100%);
    color: #ffffff; /* White color for text */
}
/* ResumeWindow.css */

/* resume > skill > html */

  /* resume > education > html */

  